@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    size: A4;
    margin: 12mm;
}

@media print {

    html,
    body {
        background: white;
    }

    .no-print {
        display: none !important;
    }

    .print-area {
        page-break-after: always;
    }
}